@import "tailwindcss";

@theme {
  --color-primary: #2438A1;
  --color-secondary: #0055FF;
  --color-accent: #10B981;
  --color-base-1: #FFFFFF;
  --color-base-2: #F8F9FB; 
  --color-base-3: #6B7280;
  --color-base-4: #111827;
}